* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

body {
    background-color: #F6F8FA;
    color: #1e1e1e;
    font-family: sans-serif;
}

.user-buttons {
    background-color: #FFFFFF;

    padding: 10px 70px;
    margin-bottom: 3px;
}

.tasks {
    background-color: #FFFFFF;
    padding: 30px 70px;
}

#header {
    background-color: #FFFFFF;
    
    padding: 10px 20px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    gap: 5px;
}

#new-task-button {
    background-color: #45ABF4;
    color: whitesmoke;
    font-size: 12px;

    display: inline-block;
    padding: 6px 9px;
    border: 1px solid #45ABF4;
    border-radius: 5px;
}

#new-section-button {
    color: #c7c7c7;
    font-size: 12px;

    display: inline-block;
    padding: 6px 9px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

h3 {
    display: inline;
}

.triangle-down {
    width: 0;
    height: 0;

    display: inline-block;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid grey;
}

ul li {
    list-style-type: none;
    margin: 10px 0px 20px;
}

/* per la x cerchiata esiste già una entity html, 
per il checkmark bisogna creare un checkmark cerchiato */
.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.x-mark {
    color: red;
}

/* category bubbles */

.bubble {
    color: whitesmoke;

    font-size: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 9px;
}

.editorial {
    background-color: #45ABF4;
}