* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

body {
    background-color: #F6F8FA;
    color: #1e1e1e;
    font-family: sans-serif;
}

.user-buttons {
    background-color: #FFFFFF;

    padding: 10px 70px;
    margin-bottom: 3px;
}

.tasks {
    background-color: #FFFFFF;
    padding: 30px 70px;
}

#header {
    background-color: #FFFFFF;
    
    padding: 10px 20px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    gap: 5px;
}

#new-task-button {
    background-color: #45ABF4;
    color: whitesmoke;
    font-size: 12px;

    display: inline-block;
    padding: 6px 9px;
    border: 1px solid #45ABF4;
    border-radius: 5px;
}

#new-section-button {
    color: #c7c7c7;
    font-size: 12px;

    display: inline-block;
    padding: 6px 9px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

h3 {
    display: inline;
}

ul li {
    list-style-type: none;
    margin: 10px 0px 18px;
}

/* Icona del triangolo vicino alle sezioni */

.triangle-down {
    width: 0;
    height: 0;

    display: inline-block;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid grey;
}

/* Icone dei To-Do */
.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.x-mark {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    
    font-size: 13px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

/* Category bubbles */

.bubble {
    color: whitesmoke;

    font-size: 10px;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 11px;
}

/* Classi per i vari colori delle bubble.
Si poteva ovviamente scrivere css inline 
ma questo lo rende più mantenibile*/
.editorial {
    background-color: #45ABF4;
}

.goals {
    background-color: #9D73E6;
}

.recruiting {
    background-color: #68C0A9;
}

.mobile {
    background-color: #F3A12E;
}

.website {
    background-color: #D9659E;
}

.sales {
    background-color: #B1CA27;
}